<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> -->
   <div *ngIf="cartDisplay">  
     <ion-list-header *ngFor="let cd of cartData">
        {{cd}}
        <button ion-button outline icon-only item-end (click)="deleteItem(cd)"><ion-icon name="trash"></ion-icon></button>
    </ion-list-header>
  </div>
     
   <!-- <div padding *ngIf="!cartDisplay">
     <button ion-button full class="checkin" (click)="back()">Back</button>
   </div> -->
     <div padding>
        <button ion-button full class="checkin" [disabled]="!cartDisplay" (click)="submit()">Submit</button>
     </div>
</ion-content>
