<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
  
</ion-header> 

<ion-content>
  <div class="head_panel text-center">
    <img src="assets/imgs/logo1.png">
  </div>
    <div padding>
         <ion-segment [(ngModel)]="cust">
          <ion-segment-button value="existcust">
            Existing Customer
          </ion-segment-button>
          <ion-segment-button value="newcust">
            New Customer
          </ion-segment-button>
          </ion-segment>
    </div>

  <div [ngSwitch]="cust">
    <ion-card>
        <div *ngSwitchCase="'existcust'" padding>
            <div padding>
                <ion-segment [(ngModel)]="emailphone">
                 <ion-segment-button value="email">
                  Search By Email
                 </ion-segment-button>
                 <ion-segment-button value="phone">
                   Search By Phone
                 </ion-segment-button>
                 </ion-segment>
           </div>
           <div [ngSwitch]="emailphone">
              <div *ngSwitchCase="'email'" padding>
                  <!-- <form [formGroup]="todo" (ngSubmit)="logForm()">
                      <ion-item>
                        <ion-input type="text" (keyup)="onKey($event)" formControlName="email" [(ngModel)]="fullname" placeholder="Email"></ion-input>
                      </ion-item>
                      <div *ngIf="exist_cust_full">
                        <ion-item *ngFor="let fullname of exist_cust_full" (click)="setFullName(fullname)">
                          {{ fullname }}
                        </ion-item>
                      </div>
                      <button ion-button full class="checkin topchck btnspcr" type="submit" [disabled]="!todo.valid">Check In</button>
                  </form> -->
                  <ion-searchbar
                        [(ngModel)]="emailInput"
                        (ionInput)="onEmailInput($event)"
                        (ionClear)="onClear($event)"
                        placeholder="Email"
                        type="email">
                  </ion-searchbar>
                  <div *ngIf="exist_cust_full">
                    <ion-item *ngFor="let fullname of exist_cust_full" (click)="setFullName(fullname)">
                      {{ fullname }}
                    </ion-item>
                  </div> 
              </div>
              <div *ngSwitchCase="'phone'" padding>
                  <!-- <form [formGroup]="todo" (ngSubmit)="logForm()">
                      <ion-item>
                        <ion-input type="text" (keyup)="onKey($event)" formControlName="email" [(ngModel)]="fullname" placeholder="Phone"></ion-input>
                      </ion-item>
                      <div *ngIf="exist_cust_full">
                        <ion-item *ngFor="let fullname of exist_cust_full" (click)="setFullName(fullname)">
                          {{ fullname }}
                        </ion-item>
                      </div>
                      <button ion-button full class="checkin topchck btnspcr" type="submit" [disabled]="!todo.valid">Check In</button>
                  </form> -->
                  <ion-searchbar
                        [showCancelButton]="shouldShowCancel"
                        (ionInput)="onPhoneInput($event)"
                        (ionCancel)="onPhoneCancel()"
                        placeholder="Phone"
                        type="text">
                  </ion-searchbar>
                  <div *ngIf="exist_cust_full">
                    <ion-item *ngFor="let fullname of exist_cust_full" (click)="setFullName(fullname)">
                      {{ fullname }}
                    </ion-item>
                  </div>
              </div>
           </div>      
      </div>
   </ion-card>
<ion-card>
  <div *ngSwitchCase="'newcust'" padding>
        <form [formGroup]="todo1" (ngSubmit)="logForm1()">
            <ion-item>
              <ion-input type="text" formControlName="firstname" [(ngModel)]="fname" placeholder="First Name"></ion-input>
            </ion-item>
            <!-- <div *ngIf="todo1.controls['firstname'].hasError('required') && todo1.controls['firstname'].touched">
              <p>* FirstName is required</p>
            </div> -->
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
            
              <div *ngIf="firstname.errors.required">
                FirstName is required.
              </div>
              <!-- <div *ngIf="firstname.errors.pattern">
                FirstName must be alphabate.
              </div> -->
            </div>
                
            <ion-item>
              <ion-input type="text" formControlName="lastname" [(ngModel)]="lname" placeholder="Last Name"></ion-input>
            </ion-item>
            <!-- <div *ngIf="todo1.controls['lastname'].hasError('required') && todo1.controls['lastname'].touched">
              <p>* LastName is required</p>
            </div> -->
            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
            
              <div *ngIf="lastname.errors.required">
                LastName is required.
              </div>
              <!-- <div *ngIf="lastname.errors.pattern">
                LastName must be alphabate.
              </div> -->
            </div>

            <ion-item>
              <ion-input type="email" formControlName="email" [(ngModel)]="em" placeholder="Email"></ion-input>
            </ion-item>

            <!-- <div *ngIf="todo1.controls['email'].hasError('required') && todo1.controls['email'].touched">
              <p>* Email is required</p>
            </div> -->
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            
              <div *ngIf="email.errors.required">
                Email is required.
              </div>
              <div *ngIf="email.errors.pattern">
                Email format should be joe@abc.com
              </div>
            </div>

            <ion-item>
              <ion-input type="text" formControlName="mobile" [(ngModel)]="mob" placeholder="Mobile"></ion-input>
            </ion-item>

            <!-- <div *ngIf="todo1.controls['mobile'].hasError('required') && todo1.controls['mobile'].touched">
              <p>* Mobile is required</p>
            </div> -->
            <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">
            
              <div *ngIf="mobile.errors.required">
                Mobile is required.
              </div>
              <!-- <div *ngIf="mobile.errors.pattern">
                Mobile should be only numeric
              </div>
              <div *ngIf="mobile.errors.minlength">
                Mobile minlength should be 10 digit
              </div>
              <div *ngIf="mobile.errors.maxlength">
                Mobile maxlength should be 10 digit
              </div> -->
            </div>

          <button ion-button full class="checkin" type="submit" [disabled]="!todo1.valid">Check In</button>
      </form>
      <div >
        <button ion-button  full class="btnspcr topchck" (click)="fbLogin()"><ion-icon name="logo-facebook"></ion-icon>Check In With Facebook</button>
      </div>
      </div>
   </ion-card>
 </div>

</ion-content>
