page-home  {

    // .item-input ion-input, .item-input ion-textarea {
    //     border-bottom: 1px solid #eb4c8d;
    // }
.checkin {
    background-color: #eb4c8d;
}

.head_panel{
	float: left;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
}
    .text-center{
        text-align: center;
    }

    .border-card {
        border: 1px solid #eb4c8d;
    }
//     .colorwhite{
//         color: #fff;
//     }
    .bg {
        background-image: url('../assets/imgs/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: center;
        float: left;
        padding-bottom: 30px;
        margin-top:10px;
    }
    // .country-code .input-wrapper  {
    //     border-bottom: 1px solid #eb4c8d;
    // }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
}


